Django==3.2.25
gunicorn
whitenoise
dj-database-url
psycopg2-binary

crispy-bootstrap4
django-widget-tweaks
django-login-required-middleware

pytz
sqlparse
Django==3.2.25
gunicorn
whitenoise
dj-database-url
psycopg2-binary
django-widget-tweaks
crispy-bootstrap4
django-login-required-middleware
gunicorn
whitenoise
dj-database-url
psycopg2-binary
python-dotenv
